<template name="userGuidePage">
<div class="main-container grey lighten-4 pushpadding">
  <div class="container z-depth-1 white" style="margin-bottom:1.5rem;margin-top:-12rem;padding:1rem;">
    <h5>Welcome</h5>
    <p>This is Heliosphere a meta data collector for Meteor packages.  If you find an bug, please reporrt it <a class="deep-purple-text" href="https://github.com/1000Cranes/lec_heliosphere/issues">here</a>.
    If there is inappropriate content in the comments, links, tutorials that need to be mediated please email me at:
      loura @ mightymeteorites.com.
    </p>
    <h5>What is that Radar Chart Showing?</h5>
    <p>It's one way to quickly compare the packages on the screen.  Each of the rays stands for a different variable associated with the package.
      The installs per year, score, and stars are all numbers reported by Atmospherejs.  The 'tutorials & resources' and the comments are a count
      associated to the package.  Let's take score as an example.  The value along the score ray (see image) for a particular package is the 
      ratio of its own score to that of the maximum score over all packages <b>shown on the page</b>.</p>
    <p class="center" ><img src="images/starChart.png"/></p>
    {{> ratingDefinitions}}
    <br/>
    <h5>How Overall Ratings are Calculated</h5>
    <p>Each package can be rated by user.  The overall rating is determined by the rating with the most votes.  In the case of ties
    the easier rating wins.</p>
    <br/>
    <h5>Thanks to the following</h5>
    <p><a class="deep-purple-text" href="https://www.meteor.com" target="blank">Meteor</a> for creating a powerful framework that makes creating apps fun again.</p>
    <p><a class="deep-purple-text" href="https://atmospherejs.com/" target="blank">Atmospherejs</a> for creating a wonderful catalog of Meteor packages and then
    opening up an API for public use.</p>
    <p>To all the developers who have released Meteor packages for the community</p>
    <p>To all those who took the time to write up tutorials and create videos.</p>
    <br/>
    <h5>Packages used in this project</h5>
    <p>These are the packages I've used in this project.</p>
    <ul>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/aldeed/autoform" target="blank">aldeed:autoform</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/aldeed/collection2" target="blank">aldeed:collection2</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/aldeed/simple-schema" target="blank">aldeed:simple-schema</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/comerc/autoform-typeahead" target="blank">comerc:autoform-typeahead</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/comerc/bs-typeahead" target="blank">comerc:bs-typeahead</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/d3js/d3" target="blank">d3js:d3</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/iron/router" target="blank">iron:router</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/jparker/gravatar" target="blank">jparker:gravatar</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/kookoskar/iron-router-roles " target="blank">kookoskar:iron-router-roles</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/materialize/materialize " target="blank">materialize:materialize</a></li>

      <li><a class="deep-purple-text" href="https://atmospherejs.com/momentjs/moment" target="blank">momentjs:moment</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/msavin/jetsetter" target="blank">msavin:jetsetter</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/msavin/mongol" target="blank">msavin:mongol</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/ongoworks/security" target="blank">ongoworks:security</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/sacha/spin" target="blank">sacha:spin</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/useraccounts/materialize" target="blank">useraccounts:materialize</a></li>
      <li><a class="deep-purple-text" href="https://atmospherejs.com/vazco/universe-html-purifier" target="blank">vazco:universe-html-purifier</a></li>

    </ul>
    <br/>
    <h5>Source Code</h5>
    <p>The source code for this project can be viewed <a class="deep-purple-text" href="https://github.com/1000Cranes/lec_heliosphere">here</a></p>
    <br/>
    <h5>Built By</h5>
    <a class="deep-purple-text" target="blank" href="http://www.mightymeteorites.com/">MightyMeteorites</a>
  </div> <!-- end container -->
</div>   <!-- end main container --> 
</template>