<template name="userGuidePage">
<div class="main-container grey lighten-4 pushpadding">
  <div class="container z-depth-1 white" style="margin-bottom:1.5rem;margin-top:-12rem;padding:1rem;">
    <h5>Welcome</h5>
    <p>This is Mesosphere a meta data collector for Meteor packages.  If you find an bug, please reporrt it here.
    If there is inappropriate content in the comments, links, tutorials that need to be mediated please email me at
      loura @ mightymeteorites.com.
    </p>
    <h5>What is that Radar Chart Showing?</h5>
    <p>fill in</p>
    {{> ratingDefinitions}}
    <br/>
    <h5>How Overall Ratings are Calculated</h5>
    <p>fill in</p>
    <br/>
    <h5>Thanks to the following</h5>
    <p><a class="deep-purple-text" href="" target="blank">Meteor</a> for creating a powerful framework that makes creating apps fun again.</p>
    <p><a class="deep-purple-text" href="" target="blank">Atmospherejs</a> for creating a wonderful catalog of Meteor packages and then
    opening up an API for public use.</p>
    <p>To all the developers who have released Meteor packages for the community</p>
    <p>To all those who took the time to write up tutorials and create videos.</p>
    <br/>
    <h5>Packages used in this project</h5>
    <p><a class="deep-purple-text" href="" target="blank">Atmospherejs</a></p>
  </div> <!-- end container -->
</div>   <!-- end main container --> 
</template>