/* header, main, footer {
  padding-left: 240px;
} */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
#login-buttons.login-buttons-dropdown-align-right #login-dropdown-list {
  right: inherit;
  margin-left:1px;
}
#login-buttons .login-image {
display:none;
}
.accounts-dialog {
 width:270px; 
}
.logo-background {
  background:#000;
  height:64px;
}
.logo-background:hover !important {
  background:#000;
}
.logo{
  height:56px;
}
.collection .collection-item.avatar {
  height: auto;
}
.collection-item {
  border: none;
}
.collection .collection-item.avatar .title {
  font-size: auto;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  nav .brand-logo{
    transform: none;
    left:0;
  }
}