<template name="editComment">
  <div id="editCommentModal" class="modal">
    {{#autoForm collection="Comments" id="updateCommentForm" type="update" doc=selectedCommentDoc}}
    <div class="modal-content">
      <h4>Edit Comment</h4>
      <p>{{> afQuickField name='text'}}</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="delete-comment btn-flat red-text waves-effect waves-red left"><i class="mdi-action-delete"></i></a>
      <a href="#" class="close-edit-comment-modal btn-flat red-text waves-effect waves-red"><i class="mdi-navigation-close"></i></a>
      <button type="submit waves-effect waves-light" class="btn"><i class="mdi-content-save"></i> Save Comment</button>
    </div>
    {{/autoForm}}
  </div>
</template>