<template name="ratingDefinitions">
      <h5>Rating Definitions</h5>
      <p><b class="green darken-1 white-text" style="padding: .25em;">Beginner</b> packages are easy to use and require little to no configuration. There is documentation and examples.</p>
      <p><b class="yellow darken-3 white-text" style="padding: .25em;">Intermediate</b> packages are straight forward to use but may require some configuration. They have basic documentation or examples.</p>
      <p><b class="red darken-1 white-text" style="padding: .25em;">Advanced</b> packages are difficult to use by either requiring configuration or by having no documentation or examples.</p>
</template>