<template name="tagSection">
  <h4 style="margin-top:3rem;">Tags {{#if currentUser}}<a href="#" id="addTag" class="deep-purple-text waves-effect waves-purple btn-flat">Add Tag</a>{{/if}}</h4>
  <p>
  {{#each packageTags}}
  <span class="tag deep-purple">{{name}} {{#if canEdit}}<a class="delete-tag-button white-text waves-effect waves-light"><i class="mdi-navigation-close"></i></a>{{/if}}</span>
  {{/each}}
  </p>
  {{#if currentUser}}
  <div class="hidden" id="addTagForms">
      {{#autoForm collection="Tags" id="insertTagForm" type="insert"}}
        {{> afQuickField name='name'}}
        {{> afQuickField name='packageID' value=this._id}}
        <button type="submit" class="btn amber waves-effect waves-light">Add Tag</button>
        <a id="close-addTag-button" class="deep-purple-text btn-flat waves-effect waves-purple"><i class="mdi-navigation-close"></i></a>
      {{/autoForm}}
  </div>
  {{/if}}
</template>