header, main, footer {
  padding-left: 240px;
}
/* #main-container{
  padding-left: 240px;
} */
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
/*   #main-container{
  padding-left: 0px;
} */
}