<template name="addTutorial">
  <h4 style="margin-top:3rem;">Tutorials and Resources
    {{#if currentUser}}
      <a href="#" id="addTutorial" class="deep-purple-text waves-effect waves-purple btn-flat">Add Tutorial</a>
    {{/if}}
  </h4>

  <div id="addTutorialForm" class="hidden">
      {{#autoForm collection="Tutorials" id="insertTutorialForm" type="insert"}}
        {{> afQuickField name='title'}}
        {{> afQuickField name='link'}}
        {{> afQuickField name='description'}}
        {{> afQuickField name='packageID' value=this._id}}
        <button type="submit" class="btn amber waves-effect waves-light">Add Tutorial</button>
       <a id="close-addTutorial-button" class="deep-purple-text btn-flat waves-effect waves-purple"><i class="mdi-navigation-close"></i></a>
      {{/autoForm}}
  </div>
</template>