<template name="addComment">
  <h4>Community Comments {{#if currentUser}}<a href="#" id="addComment" class="deep-purple-text waves-effect waves-purple btn-flat">Add Comment</a>{{/if}}</h4>
  {{#if currentUser}}
  <div id="addCommentForm" class="hidden">
    {{#autoForm collection="Comments" id="insertRootCommentForm" type="insert"}}
      {{> afQuickField name='text'}}
      {{> afQuickField name='packageID' value=this._id}}
      <button type="submit" class="btn amber">Add Comment</button>
    {{/autoForm}}
  </div>
<!--   {{else}}
      <p class="deep-purple-text flow-text">You must be <a href="{{pathFor 'signIn'}}" class="teal-text">logged in</a> to leave a comment</p> -->
  {{/if}}
</template>