<template name="comments">
  {{#each this}}
      <li class="collection-item">
        {{#if canEdit}}
          <a class="right teal-text btn-flat waves-effect waves-teal"><i class="mdi-content-create"></i></a>
        {{/if}}
          <h5>User Name</h5>
          <p class="flow-text">{{text}}</p>
<!--         {{fetchAuthor.username}}:  -->

        {{#if canAddReply}}
          <a class="reply-button teal-text btn-flat waves-effect waves-teal"><i class="mdi-content-reply"></i> Reply</a>
          {{#if isAddingAReply}}
            <div class="container" style="padding-top:3rem;">
              {{#autoForm collection="Comments" id="insertReplyCommentForm" type="insert"}}
                  {{> afQuickField name='text'}}
                  {{> afQuickField name='packageID' value=packageID}}
                  {{> afQuickField name='parentID' value=this._id}}
                <button type="submit" class="btn submit-reply-button waves-effect waves-light">Submit Reply</button>
                <button class="close-reply-button teal-text btn-flat waves-effect waves-teal"><i class="mdi-navigation-close"></i></button>
              {{/autoForm}}
            </div>
          {{/if}}
        {{/if}}
        {{#if hasReplies}}
          <ul class="collection">
            {{> comments findReplies}}
          </ul>
        {{/if}}
      </li>
  {{/each}}
</template>